 @import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
 
 body {
    background-color: rgba(0, 0, 0, 0.8);
	margin: 0;
	padding: 0;
}
body{
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
}
 .background { 
    width: 960px;
	height: 600px;
    background-color: #FFF;
    overflow: hidden;
    margin-left: auto;
	margin-right: auto;
    top: 1em;
    position: relative;
	border-radius: 6px;
}
.homepage {
	margin-top: 36px;
	margin-right: 40px;
}
.start {
width: 200px;
margin-right: 380px;
padding: 20px 0px;
font-size: 24px;
color: #0D47BE;
background: #FFF none repeat scroll 0% 0%;
border-radius: 9px;
text-align: center;
border-style: solid;
border-width: 1px;
border-color: #0072BC;
font-family: "Alef Hebrew",“Helvetica Neue”,Helvetica,Arial,sans-serif;
white-space: normal;
cursor: pointer;
transition: all 0.5s ease 0s;
}
.start:hover {
    background: #0d47be;
    color: #FFF;
}
.top-line {
	margin-top: 36px;
	width: 880px;
	margin-right: 40px;
}
.q-number {
	font-size: 16px;
}
.q-number-number {
	font-size: 16px;
	margin-right: 68px;
	margin-top: -22px;
}
.logo {
	font-size: 24px;
	font-weight: 700;
	margin-top: -30px;
	text-align: center;
}
.close {
	text-align: left;
	cursor: pointer;
	margin-top: -24px;
	font-size: 16px;
	float: left;
}
.close:hover {
	color: red;
}
.question-title {
	font-size: 32px;
	width: 735px;
	margin-right: 40px;
	margin-top: 30px;
}
.answer1 {
	width: 355px;
	margin-top: 34px;
	margin-right: 40px;
	padding: 20px 0px;
    font-size: 24px;
	color: #0d47be;
    background: #fff;
    border-radius: 9px;
    text-align: center;
	border-style: solid;
    border-width: 1px;
	border-color: #0072bc;
	font-family: "Alef Hebrew", “Helvetica Neue”, Helvetica, Arial, sans-serif;
	white-space: normal;
	cursor: pointer;
    transition: all 0.5s ease 0s;
}
.answer1:hover {
    background: #0d47be;
    color: #FFF;
}
.answer2 {
	width: 355px;
	margin-top: 34px;
	margin-right: 15px;
	padding: 20px 0px;
    font-size: 24px;
	color: #0d47be;
    background: #fff;
    border-radius: 9px;
    text-align: center;
	border-style: solid;
    border-width: 1px;
	border-color: #0072bc;
	font-family: "Alef Hebrew", “Helvetica Neue”, Helvetica, Arial, sans-serif;
	white-space: normal;
	cursor: pointer;
    transition: all 0.5s ease 0s;
}
.answer2:hover {
    background: #0d47be;
    color: #FFF;
}
.answer3 {
	width: 355px;
	margin-top: 20px;
	margin-right: 40px;
	padding: 20px 0px; 
	font-size: 24px;
	color: #0d47be;
    background: #fff;
    border-radius: 9px;
    text-align: center;
	border-style: solid;
    border-width: 1px;
	border-color: #0072bc;
	font-family: "Alef Hebrew", “Helvetica Neue”, Helvetica, Arial, sans-serif;
	white-space: normal;
	cursor: pointer;
    transition: all 0.5s ease 0s;
}
.answer3:hover {
    background: #0d47be;
    color: #FFF;
}
.answer4 {
	width: 355px;
	margin-top: 20px;
	margin-right: 15px;
	padding: 20px 0px;
    font-size: 24px;
	color: #0d47be;
    background: #fff;
    border-radius: 9px;
    text-align: center;
	border-style: solid;
    border-width: 1px;
	border-color: #0072bc;
	font-family: "Alef Hebrew", “Helvetica Neue”, Helvetica, Arial, sans-serif;
	white-space: normal;
	cursor: pointer;
    transition: all 0.5s ease 0s;
}
.answer4:hover {
    background: #0d47be;
    color: #FFF;
}
.bottom-line {
margin-top: 36px;
width: 150px;
margin-right: 40px;
}
.help {
	width: 110px;
	margin-top: 34px;
	padding: 6px 0px;
    font-size: 16px;
	color: #fff;
    background: #0072bc;
    border-radius: 9px;
    text-align: center;
	border-style: solid;
    border-width: 1px;
	border-color: #0072bc;
	font-family: "Alef Hebrew", “Helvetica Neue”, Helvetica, Arial, sans-serif;
	white-space: normal;
	cursor: pointer;
    transition: all 0.5s ease 0s;	
}
.help:hover {
    background: #fff;
    color: #0d47be;
}
.help-text {
vertical-align: middle;
}
.icon-lifesaver9 {
    content: "\e900";
	font-size: 35px;
	vertical-align: middle;
	white-space: normal;
	cursor: pointer;
}
.skip {
    font-size: 16px;
	color: #0072bc;
	text-decoration: underline;
	cursor: pointer;
	margin-top: -36px;
	margin-right: 125px;
}
.skip:hover {
	color: red;
}
.bar {
float: left;
margin-top: -470px;
margin-left: 71px;
}
.img-answer1 {
	width: 355px;
	height: 108px;
	margin-top: 34px;
	margin-right: 40px;
    background-image: url("images/answer.jpg");    
	border-radius: 9px;
	border-style: solid;
    border-width: 1px;
	border-color: #0072bc;
	white-space: normal;
	cursor: pointer;
    transition: all 0.5s ease 0s;
}
.img-answer1:hover {
	opacity: 0.5;
}
.img-answer2 {
	width: 355px;
	height: 108px;
	margin-top: 34px;
	margin-right: 15px;
    background-image: url("images/answer.jpg");    
	border-radius: 9px;
	border-style: solid;
    border-width: 1px;
	border-color: #0072bc;
	white-space: normal;
	cursor: pointer;
    transition: all 0.5s ease 0s;
}
.img-answer2:hover {
	opacity: 0.5;
}
.img-answer3 {
	width: 355px;
	height: 108px;
	margin-top: 20px;
	margin-right: 40px;
    background-image: url("images/answer.jpg");    
	border-radius: 9px;
	border-style: solid;
    border-width: 1px;
	border-color: #0072bc;
	white-space: normal;
	cursor: pointer;
    transition: all 0.5s ease 0s;
}
.img-answer3:hover {
	opacity: 0.5;
}
.img-answer4 {
	width: 355px;
	height: 108px;
	margin-top: 20px;
	margin-right: 15px;
    background-image: url("images/answer.jpg");    
	border-radius: 9px;
	border-style: solid;
    border-width: 1px;
	border-color: #0072bc;
	white-space: normal;
	cursor: pointer;
    transition: all 0.5s ease 0s;
}
.img-answer4:hover {
	opacity: 0.5;
}